  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f6f4ff;
  }

  .wrapper {
    width: 1200px;
    margin: auto;
    padding: 40px 20px;
  }

  h3 {
    text-align: center;
    color: #a45cf3;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }

  h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 40px;
  }

  .grid-container {
    display: grid;
    /* To convert 2fr 1.5fr into percentages:
fraction
Total parts = 2 + 1.5 = 3.5
First column = 2 / 3.5 × 100 = 57.14%
Second column = 1.5 / 3.5 × 100 = 42.86% */
    /* grid-template-columns: 2fr 1.5fr; */
    grid-template-columns: 56% 42%;
    gap: 30px;
  }

  .left-card {
    background: white;
    border-radius: 12px;
    /* to give shadow  */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .left-card img {
    width: 100%;
    display: block;
  }

  .left-content {
    padding: 25px;
  }

  .date {
    font-size: 12px;
    color: #a45cf3;
    font-weight: bold;
    margin-bottom: 10px;

  }

  .title {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  .desc {
    color: #555;

  }

  .right-column {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
  }

  .mini-card {
    /* The fraction 1fr 1.5fr means:
Total = 1 + 1.5 = 2.5 parts
First column = 1 / 2.5 = 40%
Second column = 1.5 / 2.5 = 60% */
    display: grid;
    grid-template-columns: 40% 60%;
    /* grid-template-columns: 1fr 1.5fr; */
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: gray;
  }

  .mini-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mini-content {
    padding: 18px;
  }